@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&family=Roboto+Condensed&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}

/* ////////MAIN CODE FOR HEADER\\\\\\\\\*/
header{
    background-color: #907114;
    display: grid;
    grid-template-columns: auto 150px;
    /* position: fixed; */
    margin-top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
.not-main{
    background-color: #907114;
    display: grid;
    grid-template-columns: auto 150px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

nav{
    font-size: 35px;
    display: flex;
    justify-content: space-around;

}
nav a{
    text-align: center;
    text-decoration: none;
    color: #381D2A;
    padding: 5px;
}
nav a:hover{
    background-color: #381D2A;
    color: whitesmoke;
    text-decoration: none;
}
.logo{
    width: 150px;
    margin: 0;
}

/* ////////MAIN CODE FOR BODY\\\\\\\\\*/
body{
    background-color: #396E94;
    font-family: "Monomaniac One", "Roboto Condensed", Times, serif;
    margin: 0;
}
main{
    padding-left: 30px;
    padding-right: 30px;
}
/* ////////PAGE 2/3  CODE FOR BODY\\\\\\\\\*/
.my-work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: solid 1em #381D2A;
    margin-bottom: 0;
}
.my-work a{
    text-align: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}
.my-work p{
    text-align: center;
    margin: 0;
    font-size: 30px;
    /* padding-left: 10px; */
}

.page-img{
    width: 100px;
    margin-top: 75px;
    padding-left: 5px;
    float: right;
}
.page-summary{
    margin-top: 95px;
    font-size: 30px;
}

#main-page-summary{
    display: grid;
    grid-template-columns: auto 400px;
    gap: 20px;
    padding-right: 30px;
    border: #396E94 solid 10px;
}
#about-me-text{
    display: grid;
    grid-template-columns: auto 400px;
    gap: 20px;
    padding-right: 10px;
}

/* ////////MAIN CODE FOR FOOTER\\\\\\\\\*/
footer{
    background-color: #907114;
    color: #512a2a;
    padding: 25px 35px;
    margin-top: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer p{
    font-size: 2.2em;
    text-decoration: none;
}
footer a{
    text-decoration: none;
    color: #512a2a;
}
footer a:hover{
    color: blue;
    text-decoration: underline;
}
.social{
    margin: 0;
    padding-top: 15px;
    opacity: .6;
}
.social:hover{
    transform: scale(1.2);
    opacity: 1;
}

/* 907114 = gold
AABD8C = pale green
381D2A = dark purple
396E94 = blue */
